/* Estilo geral */
:root {
    --azul-escuro: #2E354B;
  --azul-mediano: #5371FA;
  --azul-claro: #6595F2;
  --azul-texto: #2E354B;
  --creme: #fcfbfb;
  --creme-escururo: #F4EFEC;
}

/*#222736 background
#282d3e quadrados
#1e2230 azul mais escuro
*/ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #222736;
    overflow-x: hidden;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: #222736;
    overflow-x: hidden;
}


#back_area{
    /* background-color: red; */
    width: 3vw;
    height: 5vh;

    display: flex;
    align-items: center;
}

#img_back{
    object-fit: contain;
    height: 5vh;
    filter: invert(97%) sepia(3%) saturate(12%) hue-rotate(180deg) brightness(103%) contrast(102%);
    
}

.cadastro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 10px;
    width: 40%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #282d3e;
}

.cadastro-container h2 {
    font-size: 28px;
    font-weight: bold;
    color: #f5f7fa;
}

.form {
    width: 100%;
    height: auto;
}

.form-container {
    margin-bottom: 20px;
    position: relative;
    height: auto;   

}

.form-container-senha {
    margin-bottom: 0;
}

.form-container-confirmar-senha {
    margin-top: 25px;
    margin-bottom: 0;
}

.form-container input {
    width: 100%;
    padding-right: 40px;
}

.form-container img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-10%);
    height: 50%;
    cursor: pointer;
}

#select_cargo,
#select_sexo {
    padding-left: 320px;
    text-align: left;

    background-color: #1F304E;
}

#select_cargo,
#select_sexo {
    background-color: #f5f7fa;
    border: none;
    border-bottom: 1px solid #d3d3d3;
    height: 40px;
    width: 100%;
    border-radius: 2px;
    padding-left: 10px;
    font-size: 16px;
    color: #555;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEyIDciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGw2IDcgNi03eiIgZmlsbD0iIzU1NSIvPjwvc3ZnPg==');
    background-position: right 10px center;
    background-repeat: no-repeat;
}

#select_cargo option,
#select_sexo option {
    color: #555;
    background-color: #f5f7fa;
}

label {
    font-size: 14px;
    color: #f5f7fa;
    text-align: left;
    font-family: "Inter", sans-serif;
}

input {
    display: flex;
    align-items: center;
    background-color: #f5f7fa;
    border: none;
    border-bottom: 1px solid #d3d3d3;
    height: 40px;
    width: 100%;
    border-radius: 2px;
}

.input-placeholder {
    padding-left: 10px;
    font-size: 16px;
    color: black;

    margin-bottom: 5px;
}

.div_btn {
    display: flex;
    justify-content: center;

    margin-top: 30px
}

.botao-cadastro {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #1e2230;
    color: #fcfbfb;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    font-family: "Inter", sans-serif;

    width: 200px;
}

button:hover {
    background-color: #222736;
}

.login-link a {
    font-size: 16px;
}

.login-link {
    margin-top: 13px;
    font-size: 20px;
    cursor: pointer;
}

.login-link:hover {
    text-decoration: underline;
}

.mensagemErro {
    color: red;
}

.invalido {
    color: red;
}

.valido {
    color: green;
}

#regrasSenha{
    margin-left: 20px;
}


@media (max-width: 1024px) {
    .cadastro-container {
        width: 60%;
        padding: 40px;
        align-items: center;
    }

    button {
        width: 100%;
        align-self: center;
    }
}

@media (max-width: 500px) {
    .cadastro-container {
        width: 90%;
        padding: 20px;
    }

    button {
        width: 100%;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    .login-link {
        text-align: center;
    }
}