/* Estilo geral */
:root {
    --azul-escuro: #1F304E;
    --azul-mediano: #5371FA;
    --azul-claro: #6595F2;
    --creme: #FBF8F6;
    --creme-escururo: #F4EFEC
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 10px;
    width: 40%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
}

.signup-container h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;

    /* background-color: red; */
}

.signup-container p {
    margin-bottom: 20px;
    font-size: 14px;    
    color: #1F304E;
}

.signup-container a {
    text-decoration: none;
    color: #1F304E;
}

.form {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
    
}

.form-group img {
    object-fit: contain;
    position: absolute;
    height: 3vh;
    cursor: pointer;
    top: 57%;
    transform: translateY(-25%);
    left: 92%;
}

.form_group_double {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 48%;
}

#select_cargo, #select_sexo {
    padding-left: 320px;
    text-align: left;

    background-color: #1F304E;
}

#select_cargo, #select_sexo  {
    background-color: #f5f7fa;
    border: none;
    border-bottom: 1px solid #d3d3d3;
    height: 40px;
    width: 100%;
    border-radius: 2px;
    padding-left: 10px;
    font-size: 16px;
    color: #555;
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEyIDciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGw2IDcgNi03eiIgZmlsbD0iIzU1NSIvPjwvc3ZnPg==');
    background-position: right 10px center;
    background-repeat: no-repeat;
}

#select_cargo option , #select_sexo option{
    color: #555;
    background-color: #f5f7fa;
}

label {
    font-size: 14px;
    color: #333;
    text-align: left;
    font-family: "Inter", sans-serif;
}

input {
    display: flex;
    align-items: center;
    background-color: #f5f7fa;
    border: none;
    border-bottom: 1px solid #d3d3d3;
    height: 40px;
    width: 100%;
    border-radius: 2px;
}

.input-placeholder {
    padding-left: 10px;
    font-size: 16px;
    color: black;

    margin-bottom: 5px;
}

.div_btn{
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.botao-cadastro{
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #1F304E;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    font-family: "Inter", sans-serif;

    width: 200px;
}

button:hover {
    background-color: #5371FA;
}

.login-link a {
    font-size: 16px;
}

.login-link {
    margin-top: 13px;
    font-size: 20px;
    cursor: pointer;
}

.login-link:hover {
    text-decoration: underline;
}

.mensagemErro{
    color: red;
}

@media (min-width: 1000px) {
    .signup-container {
        width: 30%;
        padding: 50px;
    }

    .form_group_double {
        flex-direction: row;
        justify-content: space-between;
    }

    .input-group {
        width: 48%;
    }

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }

    button {
        font-size: 18px;
        padding: 14px;
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .signup-container {
        width: 60%;
        padding: 40px;
        align-items: center;
    }

    .form_group_double {
        flex-direction: column;
    }

    .input-group {
        width: 100%;
    }

    .input-group > label{
        margin-top: 20px;
    }

    button {
        width: 100%;
        align-self: center;
    }
}
@media (max-width: 500px) {
    .signup-container {
        width: 90%;
        padding: 20px;
    }

    .form_group_double {
        flex-direction: column;
    }

    .input-group {
        width: 100%;
    }

    button {
        width: 100%;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    .login-link {
        text-align: center;
    }
}
