@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    /*#222736 background
    #282d3e quadrados
    #1e2230 azul mais escuro
    */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: #222736;

    align-items: center;
}

a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: unset; 
}

#sidebar {
    height: 100%;
    width: 250px;
    background-color: #1E2230;

    color: #D1D5DB;
}

#img_user_sidebar {
    object-fit: contain;
    height: 5vh;
    filter: invert(3 0%) sepia(17%) saturate(182%) hue-rotate(179deg) brightness(97%) contrast(89%);
}

#sidebar-cliente {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 25px;
    padding: 25px;


    border-bottom: 1px solid #282d3e;


    /* background-color: rebeccapurple; */

}

.infos_cliente {
    display: flex;
    flex-direction: column;
}

.nome_cliente {
    font-size: 18px;
    font-weight: 600;
}

.descricao_cliente {
    margin-top: 5px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #606472;
}

.section-itens {
    display: flex;
    
}

.div_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 20px;
    margin-left: 15px;
    margin-top: 3px;
    gap: 15px;

    font-size: 15px;
    color: #abb0b9;

}

.img_item {
    object-fit: contain;
    height: 3vh;

    filter: invert(60%) sepia(17%) saturate(182%) hue-rotate(179deg) brightness(97%) contrast(89%);
}

#config_svg{
    filter: invert(98%) sepia(38%) saturate(2%) hue-rotate(309deg) brightness(108%) contrast(100%);

}

.img_logout{
    object-fit: contain;
    height: 3vh;
    
    filter: invert(12%) sepia(100%) saturate(7454%) hue-rotate(0deg) brightness(99%) contrast(110%);
}

.titulo_logout {
    color: red;
}

.section-logout{
    display: flex;
    position: absolute;
    bottom: 0;
}

#section_configuracoes{
    /* background-color: red; */
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;

    margin-left: 13%;
    gap: 10px;

}

.opcao_configuracao{
    background-color: #272d3e;
    width: 100%;
    height: 10vh;

    display: flex;
    align-items: center;
    gap: 5vh;

    font-size: 20px;
    color: #D1D5DB;

}

.img_config{   
    filter: invert(60%) sepia(17%) saturate(182%) hue-rotate(179deg) brightness(97%) contrast(89%);
    object-fit: contain;
    height: 5vh;

    margin-left: 2vw;
}

.arrow{
    object-fit: contain;
    height: 1vh;
    margin-left: 65%;

    filter: invert(98%) sepia(38%) saturate(2%) hue-rotate(309deg) brightness(108%) contrast(100%);
    rotate: 270deg;
}


#icone_faq{
    position: fixed;
}

.circulo_faq{
    position: fixed;
    z-index: 999;
    background-color: white;
    height: 8vh;
    width: 4vw;
    border-radius: 9999px;
    
    top: 90%;
    left: 94%;
}

.img_faq{
    z-index: 99999;
    position: fixed;
    object-fit: contain;
    height: 8vh;
    
    top: 90%;
    left: 94.1%;
}