@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*#222736 background
#282d3e quadrados
#1e2230 azul mais escuro
*/ 

    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #222736;
    overflow-x: hidden;
}

a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: unset; 
}

#main_dashboard {
    width: 84%;
    height: 100vh;
    /* background-color: rebeccapurple; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #D1D5DB;
}

.section_introducao {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #272d3e;
    width: 95%;
    height: 12vh;

    border-radius: 3px;
    margin-top: 3vh;
    gap: 10px;

}

.titulo_introducao {
    font-size: 25px;
    font-weight: 600;
    margin-left: 25px;
}

.subtitulo_introducao {
    font-size: 15px;
    font-weight: 300;

    color: #abb0b9;
    margin-left: 25px;

}

.section_kpis {
    display: flex;
    flex-direction: row;

    /* background-color: rebeccapurple; */
    margin-top: 25px;

    justify-content: space-between;
    
    width: 95%;
    height: 15vh;
}

.div_kpi {
    background-color: #272d3e;
    border-radius: 3px;
    
    height: 10vh;
    width: 25vw;
    
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    
    
}

.img_kpi {
    object-fit: contain;
    height: 7vh;
    margin-left: 15px;
    
}

#dashboard_svg{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(249deg) brightness(112%) contrast(102%);
}

.div_titulo_kpi {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
    gap: 5px;
    
    margin-left: 2vh;
        
}

.indicador_kpi {
    font-weight: 600;
    font-size: 30px;
    
}

.legenda_kpi{
    margin-left: 10px;
}

.descricao_kpi{
    color: #abb0b9;
    font-weight: 300;
}

.conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#section_charts{
    width: 100%;
    height: 70vh;
    /* background-color: rebeccapurple; */
    
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;

    gap: 5vh;
}

.titulo_chart{
    text-align: center;
    margin: 10px 0;
}

.chart_background{
    /* margin-top: 25px; */
    background-color: #282d3e;
    width: 80vw;
    height: 30vh;
}

#section_recomendacoes{
    /* background-color: rebeccapurple; */
    width: 95%;
    height: 25vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row_recomedacoes{
    /* background-color: #D1D5DB; */
    width: 100%;
    height: 25vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

    gap: 5vh;
    margin-bottom: 15px;

}

.card_recomendacao{
    background-color: #282d3e;

    width: 45vw;
    height: 10vh;
    border-radius: 5px;
    gap: 15px;

    display: flex;
    align-items: center;
}

.div_recomendacao{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;
    
    /* background-color: red; */
}

.titulo_recomendacao{
    font-size: 20px;
    font-weight: 600;
}

.conteudo_recomendacao{
    color: #abb0b9;
    font-weight: 300;

}

/* #icone_faq{
    position: fixed;
}

.circulo_faq{
    position: fixed;
    z-index: 999;
    background-color: white;
    height: 8vh;
    width: 4vw;
    border-radius: 9999px;
    
    top: 90%;
    left: 94%;

    border: 2px solid #282d3e;
}

.img_faq{
    z-index: 99999;
    position: fixed;
    object-fit: contain;
    height: 8vh;
    
    top: 90%;
    left: 94.1%;
} */