@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: #222736;
    color: #fcfbfb;
}

#back_area{
    /* background-color: red; */
    width: 80vw;
    height: 13vh;

    display: flex;
    align-items: center;
    text-align: start;
    /* justify-content: end; */
}

.section-cards-faq{
    /* background-color: rebeccapurple; */
    width: 100%;
    height: 80%;
    gap: 4vh;
    display: flex;
    justify-content: center;
}

#img_back{
    object-fit: contain;
    height: 5vh;
    filter: invert(97%) sepia(3%) saturate(12%) hue-rotate(180deg) brightness(103%) contrast(102%);
    
}

#section_titulo_faq{
    /* background-color: aqua; */
    width: 100%;
    height: 10vh;

    display: flex;
    flex-direction: column;

    margin-left: 0.5%;
    /* margin-top: 8%; */
}

.titulo_faq{
    font-size: 26px;
    font-weight: 500;
    /* color: #222736; */
}

#main_faq{
    /* background-color:blue; */
    width: 85%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* margin-left: 7%; */

}

.card-faq{
    background-color: #282d3e;
    width: 30%;
    height: 100%;
    border: #fcfbfb 1px solid;
    border-radius: 5px;
}

.classificacao{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    height: 8vh;
    gap: 15px;
    margin-bottom: 7px;

}

.titulo_classificacao{
    font-size: 20px;
    /* color: #222736; */
    font-weight: 700;

}

/* .div_faq{
    background-color: rebeccapurple;
    width: 85%;
    height: 60%;
}

.div_pergunta{
    background-color: red;   
    width: 100%;
    height: 13%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #909090;

    margin-left: 2vw;
     margin-top: 2vh; 
    cursor: pointer;

}

.span_pergunta{
     color: #222736; 
    font-weight: 400;
} */    

.div_faq{
    /* background-color: red; */
    border-bottom: 2px solid #b1b1b1;
    width: 100%;
    /* margin-top: 15px; */
}

.span_pergunta {
    /* background-color: aqua; */
    list-style: decimal;
    
    font-size: 17px;
    color: rgb(222, 220, 220);

    padding: 20px 20px 20px ;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    cursor: pointer;

    font-weight: 600;
}

.span_resposta{
    color: rgb(222, 220, 220);
    font-size: 15px;

    margin-left: 20px;
    margin-right: 12px;
    margin-bottom: 10px;
}

.arrow_expandir_pergunta{
    object-fit: contain;
    height: 2.5vh;
    transition: transform 0.3s ease;
}

.img_titulo_classificacao{
    object-fit: contain;
    height: 5vh;
    margin-left: 3vh;
}   
