@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*#222736 background
#282d3e quadrados
#1e2230 azul mais escuro
*/ 

    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    align-items: center;
    
    height: 100vh;
    width: 100vw;
    background-color: #222736;
    overflow-x: hidden;
}

a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: unset; 
}

#sidebar {
    height: 100%;
    width: 250px;
    background-color: #1E2230;

    color: #D1D5DB;
}

#img_user_sidebar {
    object-fit: contain;
    height: 5vh;
    filter: invert(30%) sepia(17%) saturate(182%) hue-rotate(179deg) brightness(97%) contrast(89%);
}

#sidebar-cliente {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 25px;
    padding: 25px;


    border-bottom: 1px solid #282d3e;


    /* background-color: rebeccapurple; */

}

.infos_cliente {
    display: flex;
    flex-direction: column;
}

.nome_cliente {
    font-size: 18px;
    font-weight: 600;
}

.descricao_cliente {
    margin-top: 5px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #606472;
}

.section-itens {
    display: flex;
    
}

.div_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 20px;
    margin-left: 15px;
    margin-top: 3px;
    gap: 15px;

    font-size: 15px;
    color: #abb0b9;

}

#metas_svg{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(180deg) brightness(104%) contrast(103%);}

.img_item {
    object-fit: contain;
    height: 3vh;

    filter: invert(60%) sepia(17%) saturate(182%) hue-rotate(179deg) brightness(97%) contrast(89%);
}

.img_logout{
    object-fit: contain;
    height: 3vh;
    
    filter: invert(12%) sepia(100%) saturate(7454%) hue-rotate(0deg) brightness(99%) contrast(110%);
}

.titulo_logout {
    color: red;
}

.section-logout{
    display: flex;
    margin-top: 83.8%;
}

#section_meta{
    /* background-color: rebeccapurple; */
    width: 50%;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 18%;
}

#background_meta{
    background-color: #282d3e;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fcfbfb;
}

.titulo_meta{
    font-size: 25px;
    color: #fcfbfb;
    font-weight: 600;
}

.input_design{
    display: flex;
    align-items: center;
    background-color: #f5f7fa;
    border: none;
    border-bottom: 1px solid #d3d3d3;
    height: 40px;
    width: 50%;
    border-radius: 2px;
    margin-bottom: 15px;
}

button{
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #1e2230;
    color: #fcfbfb;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    font-family: "Inter", sans-serif;

    width: 200px;
}

button:hover {
    background-color: #222736;
}