#modo-escuro-btn {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    background-color: var(--azul-mediano);
    color: var(--creme);
    border: 2px solid var(--azul-escuro);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 999; 
  }
  
  #modo-escuro-btn:hover {
    background-color: var(--azul-claro);
    transform: scale(1.1);
  
    transform: scale(0.95);
  }
  
  #modo-escuro-btn.modo-escuro {
    background-color: var(--azul-escuro);
    color: var(--creme);
  
    transform: scale(0.95);
  }
  
  #modo-escuro-btn.modo-claro {
    background-color: var(--creme-escururo);
    color: var(--azul-escuro);
  }
  
  body.modo-escuro {
    background-color: var(--azul-escuro);
    color: var(--creme);
    fill: var(--creme);
  }
  
  body.modo-escuro .sobre{
    color: var(--creme);
  }
  
  body.modo-escuro .card-dados:not(:last-child){
    border-right: 1px solid var(--creme);
  }
  
  body.modo-escuro a {
    color: var(--creme);
  }
  
  body.modo-escuro .comparacao-paragrafo{
    color: var(--creme);
  }
  
  body.modo-escuro .equipe-card-link-img{
    filter: brightness(0) invert(1);
  }
  
  body.modo-escuro .equipe-card-botao{
    border: 3px solid var(--creme);
  }
  
  body.modo-escuro .equipe-card-botao:hover{
    background-color: var(--creme);
    color: #2B436D;
  }

  body.modo-escuro .site-footer{
    border-top: 1px solid var(--creme);
  }