@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  --azul-escuro: #1F304E;
  --azul-mediano: #5371FA;
  --azul-claro: #6595F2;
  --azul-texto: #1F304E;
  --creme: #fcfbfb;
  --creme-escururo: #F4EFEC
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #fcfbfb;
}

.negrito {
  font-weight: bold;
}

/* Navegação */

.cabecalho {
  background: url(../img/banner.png) no-repeat center center;
  background-size: cover;
}

.cabecalho-navegacao {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.navegacao-logo {
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.navegacao-menu-img {
  margin: 10px;
}

.cabecalho-titulo {
  font-size: 96px;
  font-weight: 300;
  font-style: italic;
  color: var(--creme);
  margin-bottom: 0;
  width: 60%;
  margin-left: 100px;
  margin-top: 150px;
}

.cabecalho-paragrafo {
  font-size: 48px;
  font-weight: 100;
  color: var(--creme);
  width: 50%;
  margin-top: 0;

  margin-left: 100px;
}

.cabecalho-botao {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  padding-bottom: 10px;

}

/* Menu lateral */

.menu-lateral {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: -250px;
  background-color: var(--azul-escuro);
  overflow-x: hidden;
  transition: width 0.3s ease, right 0.3s ease;
  padding-top: 60px;
  z-index: 1000;
}

.menu-lateral ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-lateral ul li {
  padding: 10px 20px;
  text-align: left;
}

.menu-lateral ul li a {
  color: var(--creme);
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menu-lateral ul li a:hover {
  background-color: var(--azul-mediano);
}

.fechar-menu {
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 36px;
  color: var(--creme);
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menu-lateral.aberto {
  right: 0;
  width: 250px;
}

.menu-lateral.aberto a {
  opacity: 1;
}

/* Sobre nós */

.sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: var(--azul-texto);
}

.sobre-titulo {
  font-weight: 200;
  font-size: 87px;
  font-style: italic;

  margin-bottom: 0;
}

.sobre-paragrafo {
  font-size: 36px;
  text-align: center;
  font-weight: 200;

  margin: 30px 300px;
}

.sobre-img-mobile {
  display: none;
}

/* Dados */
.dados,
.card-dados {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap
}

.dados {
  margin: 40px 40px;
}

.card-dados {
  flex-direction: column;

  padding: 40px;
}

.card-dados:not(:last-child) {
  border-right: 1px solid black;
}

.card-dados-titulo {
  font-size: 60px;
  font-weight: lighter;

  margin: 0;
}

.card-dados-paragrafo {
  font-size: 40px;
  font-weight: lighter;
  font-style: italic;

  width: 300px;
  text-align: center;
}

/* Comparacao */
.comparacao {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  gap: 20px;

}

.comparacao-container {
  text-align: center;

  width: 680px;
  margin: 40px 40px;
}

.comparacao-titulo {
  font-size: 50px;
  font-weight: 200;
  font-style: italic;
}

.separador span {
  font-size: 50px;
  font-weight: lighter;

  margin: 0 60px;
}

.comparacao-paragrafo {
  font-weight: 300;
  font-size: 36px;

  color: var(--azul-texto);
}

.banner-img-desktop {
  margin: 0;
}

.banner-img-desktop img {
  width: 100%;
  height: auto;
}

/* Equipe */

.equipe-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.equipe-card-img{
  width: 300px;
}

.equipe-card-titulo{
  margin: 10px;
  font-size: 25px;
  font-style: italic;

  font-weight: 400;
}

/* Responvidade */

@media (max-width: 1360px) {
  .cabecalho {
    text-align: center;
  }

  .cabecalho-titulo {
    margin: 160px 0 0 0;
    width: 100%;
  }

  .cabecalho-paragrafo {
    margin: 0;
    text-align: center;
    width: 80%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

}

@media (max-width: 1220px) {
  .card-dados:not(:last-child) {
    border-right: none;

  }

  .card-dados {
    border-bottom: 1px solid black;
  }

}



@media (max-width: 1024px) {
  .sobre-paragrafo {
    margin: 30px 100px;
  }


}

@media (max-width: 920px) {

  .comparacao {
    flex-wrap: wrap;
  }

}

@media (max-width: 700px) {
  .cabecalho {
    background: url(../img/banner-mobile.png) no-repeat center center;
    background-size: cover;
  }

  .navegacao-logo {
    width: 120px;
    height: 55px;

  }

  .navegacao-menu-img {
    width: 49px;
    height: 45px;
  }

  .cabecalho-titulo {
    font-size: 80px
  }

  .cabecalho-paragrafo {
    font-size: 60px
  }

  .sobre-paragrafo {
    text-align: left;
    margin: 30px 20px;
  }

  .sobre-img-mobile {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 30px 0 0 0;
  }

  .img-mobile {
    width: 100%;
    height: auto;
  }

  .banner-img-desktop {
    display: none;
  }

  .container {
    width: 100%;
  }
}

@media (max-width: 530px) {
  .cabecalho-titulo {
    font-size: 40px
  }

  .cabecalho-paragrafo {
    font-size: 30px
  }

  .cabecalho-botao>img {
    width: 120px;
  }

  .card-dados-paragrafo {
    width: 200px;
  }

}



/* barra lateral*/

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #fcfbfb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #fcfbfb;
}

*::-webkit-scrollbar-track:active {
  background-color: #fcfbfb;
}

*::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #1F304E;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #2B436D;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #2B436D;
}